set linenumber
set relativenumber
let mapleader = " "

" harpoon
nmap <C-h> <Action>(GoToTab1)
nmap <C-t> <Action>(GoToTab2)
nmap <C-n> <Action>(GoToTab3)
nmap <C-m> <Action>(GoToTab4)

nmap <leader>ca <Action>(ShowIntentionActions)
nmap <leader>re <Action>(RenameElement)
nmap gr <Action>(FindUsages)
nmap <leader>tr <Action>(ActivateProblemsViewToolWindow)
nmap <leader>gs <Action>(Git.Commit.Stage)

nnoremap <C-s> <Esc>:wa<CR>
inoremap <C-s> <Esc>:wa<CR>

nnoremap <C-l> <Esc>A;<Esc>
inoremap <C-l> <Esc>A;<Esc>

set surround
set highlightedyank
set nerdtree
let g:highlightedyank_highlight_duration = "40"
