set linenumber
set number
set relativenumber
set surround
set highlightedyank
set nerdtree
" scrolloff of 8 lines
set scrolloff=8
let g:highlightedyank_highlight_duration = "40"
let mapleader = " "

" harpoon
nmap <C-e> <action>(HarpoonerToggleQuickMenu)
nmap <leader>a <action>(HarpoonerAddFile)

nmap <C-h> <action>(HarpoonerOpenFile0)
nmap <C-t> <action>(HarpoonerOpenFile1)
nmap <C-n> <action>(HarpoonerOpenFile2)
nmap <C-m> <action>(HarpoonerOpenFile3)
nmap <leader>4 <action>(HarpoonerOpenFile4)
nmap <leader>6 <action>(HarpoonerOpenFile5)

nmap <C-p> <Action>(GotoFile)
nmap <leader>v <Esc>:NERDTreeFind<CR>
nmap <C-b> <Action>(HideAllWindows)

" git
nmap <leader>gs <Action>(CheckinProject)
nmap <leader>gl <Action>(Git.Log)
nmap <leader>gp <Action>(Git.Pull)

" trouble
nmap <leader>tr <Action>(ActivateProblemsViewToolWindow)
nmap [d <Action>(GotoPreviousError)
nmap ]d <Action>(GotoNextError)

" lsp
nmap <leader>ca <Action>(ShowIntentionActions)
nmap <leader>re <Action>(RenameElement)
nmap <leader>ps <Action>(FindInPath)
nmap <leader>f <Action>(ReformatCode)
nmap gr <Action>(FindUsages)

" save action
nnoremap <C-s> <Esc>:w<CR>
inoremap <C-s> <Esc>:w<CR>
vnoremap <C-s> <Esc>:w<CR>
nnoremap s :w<CR>
vnoremap s <Esc>:w<CR>

" custom
vnoremap M :m '<-2<CR>gv=gv
vnoremap B :m '>+1<CR>gv=gv
vnoremap W <nop>
nnoremap <C-d> <C-d>zz
nnoremap <C-u> <C-u>zz
nnoremap <C-z> <Esc>:q<CR>
nnoremap n nzzzv
nnoremap N Nzzzv
xnoremap p pgvy
vnoremap <leader>y "+y
nnoremap <leader>d VD:w<CR>
nnoremap cio ci"
nnoremap dio di"
nnoremap vio vi"
nnoremap yio yi"
nnoremap cie ci(
nnoremap die di(
nnoremap vie vi(
nnoremap yie yi(

set visualbell
set noerrorbells
