[Desktop Entry]
Type=Application
Name=Autostart script
Exec=/home/molerocn/personal/.dotfiles/linux/gnome/autostart/autostart.sh
X-GNOME-Autostart-enabled=true

